<%= render 'shared/navbar' %>
<% if @url %>
  <div class="max-w-7xl mx-auto h-screen">
    <%= render "header" %>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-10">
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
          <tr>
            <th scope="col" class="text-sm font-medium px-6 py-4">
              IP
            </th>
            <th scope="col" class="text-sm font-medium px-6 py-4">
              Country
            </th>
            <th scope="col" class="text-sm font-medium px-6 py-4">
              Browser
            </th>
            <th scope="col" class="text-sm font-medium px-6 py-4">
              OS
            </th>
            <th scope="col" class="text-sm font-medium px-6 py-4">
              Time
            </th>
            <th scope="col" class="px-6 py-3">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>
        <%= turbo_stream_from "visits_list" %>
          <tbody id="visits">
            <%= render partial: "shared/visit", collection: @visits %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="grid place-items-center h-screen">
    <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">This link don't exist or has expired.</h1>
  </div>
<% end %>
<%= render 'shared/footer' %>
