<%= render 'shared/navbar' %>
<% if @url %>
  <div class="max-w-7xl mx-auto h-screen">

    <%= render "header" %>

    <div class="">
      <div class="mt-5 mb-5 p-5 rounded-lg border border-gray-200 w-full text-gray-900">
        <div class="flex">
          <ul class="grow bg-white rounded-lg text-gray-900">
            <li class="px-6 py-2 border-b border-gray-200 w-full rounded-t-lg">
              <span class="font-bold">Ip:</span>
              <%= @visit.ip %>
            </li>
            <li class="px-6 py-2 border-b border-gray-200 w-full rounded-t-lg" data-controller="clipboard" data-clipboard-success-content="Copied!">
              <span class="font-bold">Browser:</span>
              <%= @visit.browser + ' ' + @visit.browser_version %>
            </li>
            <li class="px-6 py-2 border-b border-gray-200 w-full" data-controller="clipboard" data-clipboard-success-content="Copied!">
              <span class="font-bold">OS:</span>
              <%= @visit.platform + ' ' + @visit.platform_version %>
            </li>
            <li class="px-6 py-2 border-b border-gray-200 w-full">
              <span class="font-bold">Detected bot:</span>
              <%= @visit.bot %>
          </ul>
          <ul class="grow bg-white rounded-lg text-gray-900">
            <li class="px-6 py-2 border-b border-gray-200 w-full rounded-t-lg">
              <span class="font-bold">Country:</span>
              <%= @visit.ipgeo.country if !@visit.ipgeo.nil? %>
            </li>
            <li class="px-6 py-2 border-b border-gray-200 w-full rounded-t-lg" data-controller="clipboard" data-clipboard-success-content="Copied!">
              <span class="font-bold">Region:</span>
              <%= @visit.ipgeo.region_name if !@visit.ipgeo.nil? %>
            </li>
            <li class="px-6 py-2 border-b border-gray-200 w-full" data-controller="clipboard" data-clipboard-success-content="Copied!">
              <span class="font-bold">City:</span>
              <%= @visit.ipgeo.city if !@visit.ipgeo.nil? %>
            </li>
            <li class="px-6 py-2 border-b border-gray-200 w-full">
              <span class="font-bold">ISP:</span>
              <%= @visit.ipgeo.isp if !@visit.ipgeo.nil? %>
          </ul>
          <ul class="grow bg-white rounded-lg text-gray-900">
            <li class="px-6 py-2 border-b border-gray-200 w-full rounded-t-lg">
              <span class="font-bold">Mobile:</span>
              <%= @visit.ipgeo.mobile if !@visit.ipgeo.nil? %>
            </li>
            <li class="px-6 py-2 border-b border-gray-200 w-full rounded-t-lg" data-controller="clipboard" data-clipboard-success-content="Copied!">
              <span class="font-bold">Proxy:</span>
              <%= @visit.ipgeo.proxy if !@visit.ipgeo.nil? %>
            </li>
            <li class="px-6 py-2 border-b border-gray-200 w-full" data-controller="clipboard" data-clipboard-success-content="Copied!">
              <span class="font-bold">Hosting:</span>
              <%= @visit.ipgeo.hosting if !@visit.ipgeo.nil? %>
            </li>
          </div>
        </div>
      </div>
      <div class="flex justify-center mb-10">
        <a href="<%= rails_url_shortener_url() + @url.key + '/visits' %>" >
          <img src="/left-arrow.png" alt="" class="h-10 w-auto sm:h-12">
        </a>
      </div>
    </div>
  <% else %>
    <div class="grid place-items-center h-screen">
      <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">This link don't exist or has expired.</h1>
    </div>
  <% end %>
<%= render 'shared/footer' %>
