<!DOCTYPE html>
<html>
  <head>
    <title>Paso App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <script defer data-domain="s-achacon.com" src="https://plausible.a-chacon.com/js/script.js"></script>
  </head>

  <body class="">
    <%= yield %>
  </body>
</html>
